
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f5f7fa, #009ad6);
    color: #413c3c;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}


label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.inline-inputs {
    display: flex;
    gap: 10px;
}

input[type="text"] {
    width: calc(50% - 5px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


button {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}


.greeting, .result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

#greetingText {
    color: #006400;
}

.result {
    color: #8b0000;
}


#resultImage {
    margin-top: 20px;
}

#resultImage img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.top{
    color: #201b1b;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
.menu {
    position: relative;
    display: inline-block;
}
.menu-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.menu-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    min-width: 200px;
    text-align: left;
}
.menu-content a {
    color: black;
    padding: 12px;
    display: block;
    text-decoration: none;
}
.menu-content a:hover {
    background-color: #f1f1f1;
}
.menu:hover .menu-content {
    display: block;
}